/* ----- footer ----- */
footer {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    align-items: center;
    background: var(--grey);
    margin-top: auto;
}

.footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1080px;
    flex-wrap: wrap;
    padding: 35px 40px;
    margin: 0 40px;
}

.footer_bottom_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1080px;
    flex-wrap: wrap;
    padding: 15px 0px;
}

.footer_logo_plf {
    min-height: 20px;
    max-height: 45px;
}

.footer_logo_sf {
    min-height: 20px;
    max-height: 30px;
}

footer p {
    line-height: 150%;
    font-size: 12px;
    color: white;
    min-width: 300px;
}

.footer_bottom {
    background: #323243;
    padding: 5px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer_bottom ul {
    display: flex;
    margin-left: auto;
    gap: 25px;
    padding-inline-start: 0;
}

.footer_bottom ul li {
    list-style: none;
}

.footer_icon_img {
    color: white;
    height: 20px;
    opacity: 40%;
    transition: all 0.3s ease;
}

.footer_icon_img:hover {
    opacity: 90%;
}