/* .info {
    display: flex;
    padding: 0 40px;
    justify-content: center;

}

.info_container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1080px;
}

.info_link {
    margin-right: auto;
    color: var(--gray);
    margin-top: 15px;
    font-size: small;
    max-width: 1080px;
}

.info_link:hover {
    cursor: pointer;
    text-decoration: underline;
} */
