/* ----- nav ----- */
nav {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
}

.nav_container div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav_link {
    font-size: 0.9rem;
    font-weight: 500;
}

.nav_logo_plf {
    margin-left: auto;
    min-height: 30px;
    max-height: 40px;
}

.nav_logo_sf {
    min-height: 20px;
    max-height: 30px;
}

/* .gradient {
    min-height: 3px;
    background: linear-gradient(90deg, #ffcb02, #ff7402, #ff6d7e, #e42153, #3c3ae5);
} */

@media (max-width: 450px) {

    .nav_container div {
        gap: 1rem;
        align-items: right;
    }

    .nav_link {
        font-size: 0.8rem;
        max-width: 4rem;
    }

}