.testimonios {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #F0F0F0;
  width: 100%;
}

.swiper_testimonios {
  max-width: 1080px;
}

.testimonios_title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--gray);
  font-weight: bold;
}

.testimonios_card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  min-height: 340px;
  margin: 9px;
  user-select: none;
}

.testimonios_img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonios_texto {
  font-style: italic;
  font-size: 1.1rem;
  margin: 1rem 0;
  color: #555;
  text-wrap: balance;
}

.testimonios_nombre {
  font-weight: bold;
  color: var(--gray);
  margin-bottom: 0.3rem;
}

.testimonios_institucion {
  color: #777;
  font-size: 0.9rem;
}

/* Flechas generales */

.custom-arrow {
  color: var(--gray) !important;
  scale: 0.6;
  opacity: 0.5;
}